@tailwind base;
@tailwind components;
@tailwind utilities;

.contact{
    background-image: url("../assets//image//contactLayer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about{
    background-image: url("../assets//image/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
